<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <link rel="stylesheet" type="text/css" th:href="@{/resources/theme1/css/bootstrap.css}">

        <link rel="stylesheet" type="text/css" th:href="@{/resources/theme1/css/app.css}">

        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"  />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script type="text/javascript" src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
        <title>Dodawanie danych</title>
</head>
<body>

<div id="mainWrapper">

    <header>
        <h1 class="logo">Multishop</h1>
        <h2 class="logo">Dodawanie danych</h2>
    </header>

    <tr>
        <div class="menu-container">
            <div class="menu-card">
                <div class="menu-form">
                    <div id="button-1">
                        <form action="/add/addAgreement">
                            <th><input type="submit" value="Dodaj umowę"></th>
                        </form>
                    </div>
                    <br>
                    <div id="button-2">
                        <form action="/add/addSystem">
                            <th><input type="submit" value="Dodaj system"></th>
                        </form>
                    </div>
                    <br>
                    <div id="button-3">
                        <form action="/add/addClient">
                            <th><input type="submit" value="Dodaj klienta"></th>
                        </form>
                    </div>
                    <br>
                    <div id="button-4">
                        <form action="/index">
                            <th><input type="submit" value="Strona główna"></th>
                        </form>
                    </div>
                    <br>
                    <div id="button-5">
                        <form action="/description">
                            <th><input type="submit" value="O aplikacji"></th>
                        </form>
                    </div>
                </div>
            </div>

            <div class="menu-card2">
                <div class="menu-form">
                    <div id="button-6">
                        <form action="###">
                            <th><input type="submit" value="---"></th>
                        </form>
                    </div>
                    <br>
                    <div id="button-7">
                        <form action="/update">
                            <th><input type="submit" value="Uaktualnianie"></th>
                        </form>
                    </div>
                    <br>
                    <div id="button-8">
                        <form action="/deactivate">
                            <th><input type="submit" value="Dezaktywacja"></th>
                        </form>
                    </div>
                    <br>
                    <div id="button-9">
                        <form action="/delete">
                            <th><input type="submit" value="Usuwanie"></th>
                        </form>
                    </div>
                    <br>
                    <div id="button-10">
                        <form action="/usersList">
                            <th><input type="submit" value="Użytkownicy"></th>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </tr>
</div>

<script type="text/javascript" >
    $(document).ready(function (){
        $('#table').DataTable({
        });
    });
</script>

<script type="text/javascript" >
    $(document).ready(function (){
        $('#table2').DataTable({
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#button-1, #button-2, #button-3, #button-4, #button-5, #button-6, #button-7, #button-8, #button-9, #button-10").button();
    });
</script>

</body>
</html>