<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/theme1/css/bootstrap.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/resources/theme1/css/app.css}">

    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"  />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>Lista klientów</title>
</head>
<body>

<div id="mainWrapper">
    <header>
        <h1 class="logo">Agreement manager</h1>
        <h2 class="logo">Lista klientów</h2>
    </header>

    <div style="height: 5px;"></div>
    <table id="table">
        <thead>
        <tr>
            <th>Id Klienta</th>
            <th>Nazwa Klienta</th>
            <th>Adres: Miasto</th>
            <th>Adres: Ulica</th>
            <th>Adres: Numer</th>
            <th>E-mail</th>
            <th>Telefon</th>
            <th>Data utworzenia</th>
            <th>Aktywny</th>
        </tr>
        </thead>

        <tbody >
        <th:block th:each="client : ${clients}">
            <tr>
                <td th:text="${client.clientId}"></td>
                <td th:text="${client.clientName}"></td>
                <td th:text="${client.city}"></td>
                <td th:text="${client.street}"></td>
                <td th:text="${client.home}"></td>
                <td th:text="${client.clientEmail}"></td>
                <td th:text="${client.clientPhone}"></td>
                <td th:text="${client.registrationDate}"></td>
                <td th:text="${client.active}"></td>
            </tr>
        </th:block>
        </tbody>
        <tfoot>
        <tr>
            <th>Id Klienta</th>
            <th>Nazwa Klienta</th>
            <th>Adres: Miasto</th>
            <th>Adres: Ulica</th>
            <th>Adres: Numer</th>
            <th>E-mail</th>
            <th>Telefon</th>
            <th>Data utworzenia</th>
            <th>Aktywny</th>
        </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript" >
    $(document).ready(function (){
        $('#table').DataTable({
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#button-1, #button-2, #button-3, #button-4, #button-5, #button-6, #button-7, #button-8, #button-9, #button-10").button();
    });
</script>
</body>
</html>