<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/theme1/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/theme1/css/app.css}">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/theme1/js/jquery-3.3.1.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>Produkt</title>
</head>
<body>

<div id="mainWrapper">
    <header>
        <h1 class="logo">Aircraft ltd. - Manager</h1>
        <h2 class="logo">Części</h2>
    </header>



</div>

</body>
</html>